.bookmarks {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 100%;
    padding: 4px;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

.bookmarks > :nth-child(even) {
    background-color: #fcfcfc;
}

.bookmark {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
}

.bookmark > a {
    display: flex;
    color: #2E3440;
    font-size: 13px;
    overflow: hidden;
    max-width: calc(100% - 30px);
}

.bookmark > a:hover {
    color: #2ac885;
}

  /* Chrome, Edge and Safari */
  .bookmarks::-webkit-scrollbar {
    height: 10px;
    width: 2px;
  }
  .bookmarks::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }

  .bookmarks:hover::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #efefef;
  }

  .bookmarks::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  .bookmarks:hover::-webkit-scrollbar-thumb {
    background-color: #2E3440;
  }

  .bookmark:not(:hover) > .actions {
    display: none;
  }
  .bookmark:hover > .actions {
    opacity: .2;
  }

  .bookmark > .actions:hover {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .bookmark > .actions {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 35px;
    justify-content: space-between;
    padding: 5px;
    opacity: 1;
    z-index: 9;
    background-color: #efefef;
    border-radius: 5px;
}

.bookmark > .actions > span {
    display: flex;
    cursor: pointer;
}

.bookmark > .actions svg {
    width: 13px;
    height: 13px;
}

.marked > svg {
    animation: unmark 5s linear;
}

@keyframes unmark {
    0% {
        stroke: #ff1212;
    }
    20% {
        stroke: #ff8000;
    }
    40% {
        stroke: #ffbf00;
    }
    60% {
        stroke: #ffc83d;
    }
    80% {
        stroke: #ffd17a;
    }
    100% {
        stroke: #2E3440;
    }
}