.generalMenu {
    position: absolute;
    display: flex;
    right: -12%;
    top: 30%;
    z-index: 1000;
    transition: right .2s ease-in;
}

.generalMenu.open {
    right: 0;
    transition: right .3s ease-out;
}

.generalMenu > .menuToggler {
    align-self: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    font-size: 12px;
    padding: 8px;
    cursor: pointer;
    background-color: #2ac885;
    max-height: 70px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.generalMenuItems {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: #fff;
    padding: 5px;
}

.generalMenuItem {
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.generalMenuItem > svg {
    width: 20px;
    height: 20px;
}

.generalMenuItem:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    color: #2ac885;
}