.leftSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 97%;
    width: 100%;
    row-gap: 12px;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.leftSidebar::-webkit-scrollbar {
    width: 0em;
}

.leftSidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.shortcut {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shortcut > .link {
    height: 25px;
    width: 25px;
}

.shortcut .image {
    width: 100%;
    height: 100%;
}

.shortcut > .actions {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    right: 0;
    top: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shortcut:hover > .actions {
    opacity: 1;
}

.shortcut .actions svg {
    width: 18px;
    height: 18px;
    stroke: #2E3440;
}

.shortcut .confirmButton > svg {
    fill: #ff8000;
}
.shortcut .deleteButton > svg {
    fill: #E74C3C;
    stroke: #efefef;
}