.weather {
    position: absolute;
    top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.weather > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
}

.actions > .action {
    text-align: center;
    cursor: pointer;
    min-width: 81px;
}

.actions > .action:hover {
    color: #2ac885;
}

.today {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.extraInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2E3440;
    color: #efefef;
    padding: 5px 15px;
    border-radius: 5px;
}

.extraInfo > .info {
    display: flex;
    align-items: center;
    font-size: 11px;
    gap: 5px;
}

.info > .label {
    font-weight: bold;
}

.currentData {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currentData > .group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.group > .weekDay,
.group > .hour,
.group > .degrees {
    font-size: 20px;
    font-weight: bold;
}

.forecast {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 10px;
}

.forecast > :not(:first-child) {
    border-left: 1px solid #2e344042;
    padding-left: 10px;
}

.forecast.weekly > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.forecast.weekly > .item > .top,
.forecast.weekly > .item > .bottom {
    display: flex;
    align-items: center;
    gap: 2px;
}

.forecast.weekly > .item > .top {
    font-weight: bold;
}

.forecast.weekly > .item > .top > .month {
    display: flex;
    align-items: center;
    gap: 2px;
}

.item > .weekDay,
.item > .hours {
    font-weight: bold;
}

.weatherData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
}

.restForecasts {
    position: absolute;
    top: 29%;
    display: none;
    align-items: center;
    gap: 5px;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
}

.restForecasts > :not(:first-child) {
    border-left: 1px solid #efefef;
    padding-left: 10px;
}

.itFor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 75px;
    font-size: 10px;
    width: max-content;
    gap: 5px;
    padding: 5px;
}

.mainData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mainData > .top > .month,
.mainData > .top,
.mainData > .bottom > .degrees,
.mainData > .bottom {
    display: flex;
    align-items: center;
    gap: 3px;
}

.mainData > .top {
    font-weight: bold;
}

.mainData:hover + .restForecasts {
    display: flex;
}

/* just so classes not being undefined */
.forecasts {}
.hourly > .item {
    display: flex;
    align-items: center;
    gap: 3px;
}